<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Todo List</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1>Your Todo List</h1>
        <div class="card">
          <div class="flex">
            <input v-model="newItem" placeholder="Add new Item to todo list" />
            <button @click="addItem" :disabled="newItem.length === 0">
              Add
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <h2>Things todo</h2>
            <ul class="list">
              <li class="list-item" :class="{completed: item.completed}" v-for="item in resersevItems">
                <div class="list-item-toogle" @click="toggleComplete(item)"></div>
                <span> {{ item.name }} </span>
                <div class="list-item-delete" @click="removeItem(item.id)">X</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          newItem: "",
          items: [
            {
              id: 1,
              name: "Clean my room",
              completed: true,
            },
            {
              id: 2,
              name: "Do homework",
              completed: false,
            },
          ],
        },
        methods: {
          addItem: function () {
            this.items.push({
              id: this.items.length + 1,
              name: this.newItem,
              completed: false,
            });
            this.newItem = "";
          },
          toggleComplete: function (item) {
            item.completed = !item.completed;
          },
          removeItem: function (itemID) {
            this.items = this.items.filter((item) => newItem.id !== itemID);
          },
        },
      });
    </script>
  </body>
</html>
